.action-drawer {
  position: absolute;
  z-index: 2;
  background-color: var(--light-overlay);
  margin: -20px;
  overflow: hidden !important;
  height: calc(100vh - 40px);
  width: calc(100vw - 200px);

  &__div {
    margin-left: auto;
    height: inherit;
    background-color: var(--light-white);
    width: 300px;
    padding: 12px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2 {
        font-family: var(--primary-font);
        color: var(--light-second-dark);
        font-weight: 600;
      }

      & img {
        cursor: pointer;
        background-color: var(--light-btn-background);
        padding: 4px;
        border-radius: 4px;
      }
    }
  }
}
