.modal {
  @include overlay;
  &__container {
    padding: 1.4rem;
    background-color: var(--light-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 4px;

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      & img {
        filter: invert(23%) sepia(86%) saturate(7471%) hue-rotate(357deg)
          brightness(114%) contrast(116%);
        margin-right: 1rem;
      }
    }
    &__body {
      font-family: var(--tertiory-font);
      margin-bottom: 1rem;
      font-weight: 200;
      font-size: 14px;
      line-height: 1.8rem;
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      &__cancel {
        margin-right: 1rem;
        cursor: pointer;
      }

      &__delete {
        @include chip-style(red, var(--light-white));
      }
    }
  }
}

.modal-small {
  width: 400px;
}

.modal-medium {
  width: 600px;
}

.modal-large {
  width: 1000px;
}
