.sidebar {
  background-color: var(--light-primary);
  height: calc(100vh - 30px);
  padding: 1rem 1rem;

  &__item {
    padding: 0.4rem 0;
    cursor: pointer;
    user-select: none;
    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 6px 12px;
      & img {
        margin-right: 6px;
      }
      & span {
        font-family: var(--secondary-font);
        color: var(--light-text-normal);
        font-weight: 600;
      }
    }
  }
}

.active-menu-item {
  background-color: var(--light-menu-item-active);
  border-radius: 4px;
  & img {
    filter: invert(27%) sepia(192%) saturate(2959%) hue-rotate(207deg)
      brightness(81%) contrast(87%);
  }
  & span {
    color: var(--light-text-active) !important;
  }
}
