* {
  margin: 0;
}

:root {
  // Light Theme Color
  --light-primary-dark: #243c8e;
  --light-second-dark: #121e47;

  // Common Variables
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;
  --tertiory-font: 'Poppins', sans-serif;
}
