* {
  margin: 0;
}

:root {
  // Light Theme Color
  --light-primary-dark: #243c8e;
  --light-second-dark: #121e47;
  --light-primary: #f4f5f7;
  --light-white: #ffffff;
  --light-menu-item-active: #eaecf0;

  --light-text-normal: #42526e;
  --light-text-active: #0052cc;

  // Common Variables
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;
  --tertiory-font: 'Poppins', sans-serif;
}
