.manage-emp {
  position: absolute;
  z-index: 2;
  background-color: #000000a3;
  margin: -20px;
  overflow: hidden !important;
  height: calc(100vh - 40px);
  width: calc(100vw - 200px);

  &__drawer {
    margin-left: auto;
    height: inherit;
    background-color: var(--light-white);
    width: 300px;
    padding: 12px;

    & h2 {
      font-family: var(--primary-font);
      color: var(--light-second-dark);
      font-weight: 600;
    }
  }
}
