@mixin scale-btn {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

@mixin drawer-transition {
  transition: margin 600ms ease-in-out;
}

@mixin custom-inputs {
  width: -webkit-fill-available;
  margin: 1rem 0;
  padding: 0.6rem;
  font-family: var(--primary-font);

  &:focus {
    outline: var(--light-text-active) auto 1px;
  }
}

@mixin chip-style($color, $fontColor: var(--light-text-normal)) {
  background-color: $color;
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 12px;
  width: fit-content;
  color: $fontColor;
}
