@mixin scale-btn {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

@mixin drawer-transition {
  transition: margin 600ms ease-in-out;
}

@mixin no-anchor-decoration {
  color: inherit;
  text-decoration: none;
}

@mixin custom-inputs {
  width: -webkit-fill-available;
  margin: 1rem 0;
  padding: 0.6rem;
  font-family: var(--primary-font);
  border-radius: 4px;
  border: 0.4px solid var(--light-input-outline);
  &:focus {
    outline: var(--light-text-active) auto 1px;
  }
}

@mixin chip-style($color, $fontColor: var(--light-text-normal)) {
  background-color: $color;
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 12px;
  width: fit-content;
  color: $fontColor;
  cursor: pointer;
  user-select: none;
}

@mixin overlay {
  position: absolute;
  z-index: 2;
  background-color: var(--light-overlay);
  margin: -20px;
  overflow: hidden !important;
  height: calc(100vh - 40px);
  width: calc(100vw - 200px);
  font-family: var(--primary-font);
}

@mixin center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@mixin custom-active-btn(
  $color: var(--light-text-active),
  $fontColor: var(--light-white)
) {
  background-color: $color;
  color: $fontColor;
  font-size: 14px;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}

@mixin shake-effect {
  position: relative;
  animation: shake 0.12s linear;
  animation-iteration-count: 3;
}

@mixin error-input {
  border: 0.4px solid var(--common-danger) !important;
  &:focus {
    outline: var(--common-danger) auto 1px;
  }
}
