:root {
  // Light Theme Color
  --light-primary-dark: #243c8e;
  --light-second-dark: #121e47;
  --light-input-outline: #d0d0d0;
  --light-primary: #f4f5f7;
  --light-white: #ffffff;
  --light-menu-item-active: #eaecf0;
  --light-btn-background: #ebecf0;

  --light-text-normal: #42526e;
  --light-text-active: #0052cc;

  --light-overlay: #000000a3;
}
